#trial-diet {
  margin-top: 281px;
  .container {
    width: 1440px;
    height: 381px;
    position: relative;
    .container__top-left {
      position: absolute;
      top: -39px;
      right: 50%;
    }
    .container__top-right {
      position: absolute;
      right: 47%;
      top: -39px;
    }
    .container__bottom-left {
      position: absolute;
      bottom: -39px;
      right: 47%;
      transform: rotate(180deg);
    }
    .container__bottom-right {
      position: absolute;
      right: 50%;
      bottom: -39px;
      transform: rotate(180deg);
    }
    .container__left-content {
      width: 100%;
      overflow: hidden;
    }
  }
  .container-content {
    width: inherit;
    height: inherit;
    display: flex;
    background: #f5f5f5;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    .container__left-content {
      height: 636px;
      width: 558px;
      position: absolute;
      bottom: 0px;
      .left-shape {
        bottom: 0px;
        position: absolute;
      }
      .fruit-left {
        position: absolute;
        z-index: 111;
        left: -39px;
        bottom: -133px;
      }
    }
    .container__right-content {
      height: 636px;
      width: 558px;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(180deg);
      .right-shape {
        position: absolute;
        bottom: 0;
      }
      .fruit-right {
        left: -39px;
        bottom: -63px;
        position: absolute;
      }
    }

    .container__middle-content {
      margin: 0 auto;
      padding: 93px 0px;
      text-align: center;
      font-family: "Open Sans";
      font-style: normal;
      h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 62px;
      }
      p {
        margin-top: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
      button {
        margin-top: 52px;
        border: none;
        border: 1px solid #111112;
        border-radius: 18px;
        background: #111112;
        color: white;
        padding: 12px 23px;
        transition: 0.5s;
        &:hover {
          background-color: #3f3f44;
        }
      }
    }
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  #trial-diet {
    .container {
      .container__top-left {
        right: 49%;
      }
      .container__top-right {
        right: 45%;
      }
      .container__bottom-right {
        right: 49%;
      }
      .container__bottom-left {
        right: 45%;
      }
      .container__middle-content {
        padding: 87px 0px;

        h2 {
          font-size: 35px !important;
        }
      }
    }
  }
}
@media only screen and (min-width: 376px) and (max-width: 450px) {
  #trial-diet {
    margin-top: 80px;
    .container {
      width: 375px;
      .container__left-content {
        display: none;
      }
      .container__right-content {
        display: none;
      }
      .container__top-left {
        display: none;
      }
      .container__top-right {
        display: none;
      }
      .container__bottom-left {
        display: none;
      }
      .container__bottom-right {
        display: none;
      }
      .container__middle-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          margin-top: 10px;
        }
      }
    }
  }
}
