input {
  height: 58px;
  left: 1px;
  top: 230px;
  border: none;
  border: 1px solid #adaeaf;
  border-radius: 22px;
  padding: 0px 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #adaeaf;
  &:focus {
    outline: none;
  }
}
.long {
  width: 345px;
}
.short {
  width: 223px;
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  input {
    height: 52px;
    left: 1px;
    top: 230px;
    border: none;
    border: 1px solid #adaeaf;
    border-radius: 22px;
    padding: 0px 26px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .long {
    width: 320px;
  }
  .short {
    width: 200px;
  }
}
