.btn {
  font-family: "Open Sans";
  font-style: normal;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: none;
  padding: 10px 25px;
  background: #1ac84b;
  border-radius: 10px;
  color: #fdfbfa;
  transition: 0.5s;
  &:hover {
    background: #18b344;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  .btn {
    font-size: 10px !important;
    line-height: 16px !important;
    padding: 8px 20px;
  }
}
