.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  .navbar {
    nav {
      ul {
        gap: 30px;
        a {
          font-size: 11px;
        }
      }
    }
  }
}
@media only screen and (min-width: 376px) and (max-width: 450px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
  }
}
