* {
  box-sizing: border-box;
}
#deliver {
  margin-top: 227px;
  .container {
    width: 1440px;
  }
  .deliver-content {
    display: flex;
    justify-content: space-between;
  }
  .deliver-content__text {
    width: 440px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16.24px;
    line-height: 22px;
  }
  .deliver-content__inputs {
    margin-top: 94px;
    display: flex;
    gap: 20px;
  }
  .deliver-content__buttons {
    margin-top: 38px;
    display: flex;
    gap: 26px;
    .deliver-check {
      width: 135px;
      height: 43px;
      border: none;
      background: #ffb21a;
      border-radius: 18px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #fdfbfa;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        background: #de9b17;
      }
    }
    .deliver-buttons__locate {
      display: flex;
      gap: 8px;
      height: 43px;
      align-items: center;

      img {
        transition: 0.5s;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }
  .deliver-place__container {
    display: flex;
    gap: 21px;
    margin-top: 40px;
    &:first-child {
      margin-top: 0px !important;
    }
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  .container {
    width: 1050px !important;
  }
  .deliver-content__text {
    width: 380px !important;
  }
  .deliver-content__inputs {
    flex-direction: column;
    margin-top: 50px !important;
  }
}
@media only screen and (min-width: 376px) and (max-width: 450px) {
  #deliver {
    margin-top: 80px;

    .container {
      width: 375px;
    }
    .deliver-content___right {
      display: none;
    }
    .deliver-content__text {
      width: 100%;
      text-align: center;
    }
    .deliver-content__inputs {
      margin-top: 35px;
      flex-direction: column;
      align-items: center;
    }
    .deliver-content__buttons {
      justify-content: center;
    }
  }
}
