h2 {
  color: #111112;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 62px;
  margin: 0;
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  h2 {
    font-size: 33px !important;
    line-height: 58px !important;
  }
}
@media only screen and (min-width: 376px) and (max-width: 450px) {
  h2 {
    font-size: 20px !important;
    line-height: 35px !important;
    text-align: center;
  }
}
