.deliver-place__cities {
  background: #f5f5f5;
  border-radius: 18px;
  width: 222px;
  height: 58px;
  text-align: center;
  p {
    margin: 0;
    padding: 18px 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  .deliver-place__cities {
    width: 200px !important;
    p {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
