.hamburger-menu {
  display: none;
  
}
@media only screen and (min-width: 376px) and (max-width: 450px) {
  .hamburger-menu {
    display: block;
    background-color: #1ac84b;
    margin-top: 10px;
    text-align: center;
    padding: 10px 0px;
    ul {
      list-style-type: none;
      padding: 0px 10px;
      li {
        padding: 10px 0px;
        a {
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 11px;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}
